<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Add Event</title>
    <% include partials/header%>
  </head>
  <body>
    <% include partials/nav%>
    <form class="" action="index.html" method="post">

    </form>
    <% include partials/footer%>
  </body>
</html>
