<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Time</title>
    <!-- Latest compiled and minified CSS -->
    <% include partials/header%>

  </head>
  <body>
    <% include partials/nav%>
    <div class="container">
      <div class="row">
        <% time.forEach(function(t){%>
        <div class="col-sm-6 col-md-4">
          <div class="thumbnail">
            <div class="caption"><p class="text-right text-success">Verified</p></div>
            <img src="<%=t.image%>" alt="..." style="height:200px;">
            <div class="caption">
              <h3><%=t.name%></h3>
              <p class="text-right"><a href="/time/<%=t.id%>" class="btn btn-default" role="button">Read more..</a></p>
            </div>
          </div>
        </div>
        <%})%>
      </div>
    </div>

    <% include partials/footer%>
  </body>
</html>
